.gameplay {
  padding-left: 10px;
  padding-right: 10px;
  .title {
  }
  .Recommend {
    .title {
      width: 100%;
      position: relative;
      &::before {
        content: "";
        background-image: url(../../../assets/imagesLayout/popuptext.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 100%;
        z-index: 0;
      }
      h3 {
        margin-left: 10px;
        color: #00ffe9;
        font-family: "NextBold";
        margin-bottom: 0px;
        box-shadow: rgba(0, 255, 233, 1) 0px 50px 100px -20px,
          rgba(0, 255, 233, 1) 0px 30px 60px -30px;
        filter: drop-shadow(-1px 1px 0 #f027ff) drop-shadow(0px 0px 0 #f027ff)
          drop-shadow(0px 0px 0 #f027ff) drop-shadow(0 0px 0 #f027ff);
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .gameplay {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 20px;
    .box-tutorial {
      padding: 0;
      .title {
        margin-top: 15px;
        h4 {
          margin-bottom: 10px !important;
          font-weight: 700;
        }
      }
    }
    .Recommend {
      .title {
        width: 100%;
        position: relative;

        &::before {
          content: "";
          background-image: url(../../../assets/imagesLayout/popuptext.svg);
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          top: 0;
          left: 0;
          width: 95%;
          height: 100%;
          z-index: 0;
        }
        h3 {
          margin-left: 10px;
          color: #00ffe9;
          font-family: "NextBold";
          margin-bottom: 0px;
          box-shadow: rgba(0, 255, 233, 1) 0px 50px 100px -20px,
            rgba(0, 255, 233, 1) 0px 30px 60px -30px;
          filter: drop-shadow(-1px 1px 0 #f027ff) drop-shadow(0px 0px 0 #f027ff)
            drop-shadow(0px 0px 0 #f027ff) drop-shadow(0 0px 0 #f027ff);
        }
      }
    }
  }
}
