.dislogfavorite {
    .showItem {
      .item-top {
          margin-bottom: 10px;
        .box-name {
          width: 100%;
          text-align: center;
          .name {
              margin-bottom: 0;
          }
        }
      }
      .item-bottom{
          .item{
            
          }
      }
    }
  }
  