.challenge {
  padding: 10px;
  .title {
    h1 {
      color: white;
    }
  }
  .challenge-item {
    .item {
      position: relative;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      button {
        border: none;
        position: absolute;
        padding: 13px 17px;
        border-radius: 20px;
        color: white;
        background-color: #fdb626;
        bottom: 350px;
        left: 28px;
      }
    }
    .grid-container-img {
      .grid-img {
        .item-img {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 576px) and (max-device-width:992px) {
  .challenge {
    padding: 10px;
    .title {
      justify-content: space-between;
      .left {
        img {
          width: 15px;
          height: 15px;
        }
        h1 {
          color: white;
          margin-bottom: 0px;
        }
      }
    }
    .challenge-item {
      .challenge-mobile {
        width: 110px !important;
        display: flex;
        justify-content: center;
        padding: 10px;
        .card-item {
          width: 100%!important;
          height: 200px !important;
          position: unset !important;
          padding: 0px !important;
          border: none;
          background-color: transparent;
          .card-header {
            padding: 0px !important;
            position: relative;
            width: 100%!important;
          height: 200px !important;
            filter: drop-shadow(1px 0 0 #6e65ea) drop-shadow(-1px 0 0 #6e65ea)
              drop-shadow(0 1px 0 #6e65ea) drop-shadow(0 -1px 0 #6e65ea);
            img {
              width: 100%!important;
              height: 200px !important;
              object-fit: cover;
              clip-path: polygon(
                0 0,
                91% 0,
                183% calc(100% - 0px),
                calc(100% - 95px) 100%,
                0px 90%,
                0px 20px
              );
            }
          }
          .theme-new {
            position: absolute;
            top: 0px;
            left: -2px;
            display: flex;
            align-items: center;
            height: 27px;
            border-radius: 8px 8px 8px 0;
            border: none;
            font-weight: 600;
            color: white !important;
            &::after {
              content: "";
              position: absolute;
              border-left: 10px solid transparent;
              border-top: 7px solid #a72c29;
              left: 0px;
              top: 25px;
            }
          }
        }
      }
      .item {
        position: relative;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
        button {
          border: none;
          position: absolute;
          padding: 13px 17px;
          border-radius: 20px;
          color: white;
          background-color: #fdb626;
          bottom: 350px;
          left: 28px;
        }
      }
      .grid-container-img {
        .grid-img {
          .item-img {
            height: 100px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 20px;
              box-shadow: rgb(0, 0, 0 / 70%) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 1px 8px 1px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 576px) {
  .challenge {
    padding: 10px;
    .title {
      justify-content: space-between;
      .left {
        img {
          width: 15px;
          height: 15px;
        }
        h1 {
          color: white;
          margin-bottom: 0px;
        }
      }
    }
    .challenge-item {
      .challenge-mobile {
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding: 10px;
        .card-item {
          width: 100% !important;
          height: 108px !important;
          position: unset !important;
          padding: 0px !important;
          border: none;
          background-color: transparent;
          .card-header {
            padding: 0px !important;
            position: relative;
            filter: drop-shadow(1px 0 0 #6e65ea) drop-shadow(-1px 0 0 #6e65ea)
              drop-shadow(0 1px 0 #6e65ea) drop-shadow(0 -1px 0 #6e65ea);
            img {
              object-fit: cover;
              clip-path: polygon(
                0 0,
                91% 0,
                183% calc(100% - 0px),
                calc(100% - 87px) 100%,
                0px 90%,
                0px 20px
              );
            }
          }
          .theme-new {
            position: absolute;
            top: 0px;
            left: -2px;
            display: flex;
            align-items: center;
            height: 27px;
            border-radius: 8px 8px 8px 0;
            border: none;
            font-weight: 600;
            color: white !important;
            &::after {
              content: "";
              position: absolute;
              border-left: 10px solid transparent;
              border-top: 7px solid #a72c29;
              left: 0px;
              top: 25px;
            }
          }
        }
      }
      .item {
        position: relative;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
        button {
          border: none;
          position: absolute;
          padding: 13px 17px;
          border-radius: 20px;
          color: white;
          background-color: #fdb626;
          bottom: 350px;
          left: 28px;
        }
      }
      .grid-container-img {
        .grid-img {
          .item-img {
            height: 100px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 20px;
              box-shadow: rgb(0, 0, 0 / 70%) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 1px 8px 1px;
            }
          }
        }
      }
    }
  }
}
