@media only screen and (min-device-width: 576px) and (max-device-width: 992px) {
  .mobile {
    width: 100%;
    // height: max-content;
    position: fixed;
    bottom: 0;
    right: 0px;
    background-image: url(../../../assets//imagesLayout//popup/02.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1300;
    .content_nav {
      width: 100%;
      .nav-mobile {
        display: flex;
        // background-color: #5f3380;
        // background-color: #5e337f;
        .items {
          width: 100%;
          text-align: center;
          padding: 5px 8px !important;
          img {
            width: auto;
            height: 20px;
          }
          p {
            padding: 0;
            margin: 0;
            color: white;
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .mobile {
    width: 100%;
    height: 64px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1300;
    .content_nav {
      background-color: #723d9f;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .nav-mobile {
        display: flex;
        // background-color: #5f3380;
        // background-color: #5e337f;
        .items {
          width: 100%;
          text-align: center;
          padding: 3px 0px !important;
          .img-light {
            width: auto;
            height: 30px !important;
          }
          img {
            width: auto;
            height: 20px;
          }
          p {
            padding: 0;
            margin: 0;
            color: white;
            opacity: 0.5;
          }
        }
        .items1 {
          width: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          // flex-direction: column;
          padding: 5px 8px !important;
          position: relative;
          .img-light {
            width: auto;
            height: 30px !important;
          }
          p {
            padding: 0;
            margin: 0;
            color: white;
            opacity: 0.5;
          }
          .btn-wallet {
            width: 100%;
            height: 100%;
            // background-color: red;
            background-image: url(../../../assets//imagesLayout//popup/bg01.png);
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 12px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -28px;
            left: 1px;
            .st-cut {
              img {
                width: auto;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
  .MuiBadge-badge {
    background-color: yellow;
  }
}

