.title-FAQ{
    width: 100%;
    position: relative;
    &::before {
      content: "";
      background-image: url(../../../assets/imagesLayout/popuptext.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 7px;
      left: 0;
      width: 50%;
      height: 80%;
    }
    h2 {
      margin-left: 20px;
      color: white;
      // font-family: "NextBold";
      margin-bottom: 0px;
      position: relative;
      margin-bottom: 50px;
    }
}