.success-background {
  color: #466717 !important;
  font-size: 14px !important;
  background-color: #9ed458 !important;
  width: 465px !important;
}

.success-background-small {
  color: #466717 !important;
  font-size: 12px !important;
  background-color: #9ed458 !important;
  width: 100% !important;
  height: fit-content !important;
  border-radius: 4px !important;
  top: 0;
  .Toastify__close-button{
    margin: auto;
  }
  .Toastify__toast-body > div:last-child {
    display: block;
    overflow: auto;
  }
}

.error-background {
  color: #fff !important;
  font-size: 14px !important;
  background-color: #f05153 !important;
  width: 465px !important;
}
.error-background-small {
  color: #fff !important;
  font-size: 12px !important;
  background-color: #f05153 !important;
  width: 100% !important;
  height: fit-content !important;
  border-radius: 4px !important;
  top: 0;
    .Toastify__close-button{
    margin: auto;
  }
  .Toastify__toast-body > div:last-child {
    display: block;
    overflow: auto;
  }
}
.warning-background {
  color: #997d24 !important;
  font-size: 14px !important;
  background-color: #f3d886 !important;
  width: 465px !important;
  padding: 6px !important;
  height: 100% !important;
}
.warning-background-small {
  color: #997d24 !important;
  font-size: 12px !important;
  background-color: #f3d886 !important;
  width: 100% !important;
  height: fit-content !important;
  border-radius: 4px !important;
  top: 0;
  .Toastify__close-button{
    margin: auto;
  }
  .Toastify__toast-body > div:last-child {
    display: block;
    overflow: auto;
  }
}
