.bigLuckyWheelContainer {
  font-weight: bolder;
  height: auto;
  position: relative;
}
li {
  list-style-type: none;
}
.textContent {
  position: absolute;
  left: -100%;
  box-sizing: border-box;
  padding: 20px;
  width: 200%;
  height: 200%;
  text-align: center;
  display: block;
  transform: skewY(60deg) rotate(15deg);
  span {
    color: #fbefba;
    transform: rotate(90deg);
    display: inline-block;
    z-index: 10 !important;
  }
}
.wheelBG {
  background-image: url("../../assets/LuckySpin/lucky-spin-flickering\ version02.gif");
  position: relative;
  width: 316px;
  height: 315px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 37px;
  z-index: 3;
}
.circle {
  background-repeat: no-repeat;
  background-position: center;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  position: absolute;
  top: 12%;
  left: 12%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  li {
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    border: 1px solid #cba07e;
  }
}
.spinButton {
  cursor: pointer;
  position: absolute;
  z-index: 7;
  top: 31%;
  left: 35%;
  img {
    width: 95px;
  }
}
.LuckySpinSlogan {
  position: absolute;
  // width: 289px;
  top: 279px;
}
.start-rotate {
  animation: start-rotate 3s ease-out infinite;
}
.stop-rotate {
  animation-play-state: paused;
}
@keyframes start-rotate {
  100% {
    transform: rotate(45deg);
  }
}
.spinBorder {
  background-color: rgba(155, 72, 211, 0.3);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  top: 24%;
  z-index: 4;
  position: absolute;
}
.spinBorderBG {
  width: 106px;
  height: auto;
  top: 33%;
  z-index: 6;
  position: absolute;
}
