.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 1;
  /* background: rgb(233, 233, 231); */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-block {
  z-index: 10;
  position: fixed;
  background: rgb(93, 11, 235);
}

.elOption {
  cursor: pointer;
  padding: 16px 35px;
  color: white;
}

.elOption:hover {
  background: rgb(249, 208, 4);
  color: black;
}

.fullscreen {
  width: 100%;
  height: 100%;
}
.fullscreen_IOS {
  position: fixed;
  z-index: 2000 !important;
  top: 0;
}
.position_Relative {
  position: relative;
}
/* .Toastify__toast {
  width: 465px !important;
} */

html {
  scroll-behavior: smooth;
}
