.lushInPlayGame::after {
  content: "";
  width: "2px";
  height: "100px";
  background: red;
}

.container {
  max-width: 1140px !important;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  background-color: #4e3a81 !important;
  color: white !important;
  font-weight: bolder !important;
}
.my-component {
  background: #fff;
  width: "700px";
}

.fullscreen-enabled .my-component {
  background: #000;
  width: "700px";
}
.navBarFullScreen {
  animation: MoveUpDown 0.3s ease-in;
  position: absolute;
  bottom: 0;
}
@keyframes MoveUpDown {
  0% {
    bottom: -55.23px;
  }
  100% {
    bottom: 0px;
  }
}
.showButtonFullScreen {
  animation: MoveUp 0.3s ease-out;
  position: absolute;
  button {
    background: linear-gradient(#873cf0, #7946ee);
  }
}
.showButtonFullScreenDis {
  animation: MoveDown 0.3s ease-out;
  position: absolute;
  button {
    background: linear-gradient(#873cf0, #7946ee);
  }
}
@keyframes MoveUp {
  0% {
    bottom: -50px;
  }

  100% {
    bottom: 0px;
  }
}
@keyframes MoveDown {
  0% {
    bottom: 0px;
  }

  100% {
    bottom: -60px;
    display: none !important;
  }
}
.navBarFullScreenDis {
  animation: MovecDown 0.3s linear;
  position: absolute;
}
@keyframes MovecDown {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -55.23px;
    display: none !important;
  }
}
.fullscreenVideo {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 100000;
}
