.inp-search {
  &::placeholder {
    color: #7558a5;
    font-weight: bold;
  }
  &:focus-visible {
    outline: none;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #7558a5;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #7558a5;
  }
}

.badge-chat-des{
  position: absolute;
  top: -2px;
  right: -2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  z-index: 1301;
  background-color: #F05153;
}

.logocongty {
  // width: 60px;
  height: 32px;
}

.when-active {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1032;
  display: none;
  transition: all ease 1s;
}

@media only screen and (max-width: 900px) {
  // .icon-toggle {
  //   display: none;
  // }
  .navbar-layout {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  * {
    h1 {
    }
  }
  .icon-toggle {
    display: none !important;
  }
  .logocongty {
    // width: 50px;
    // height: 50px;
  }
  .tong {
    // background-image: url(../../assets/images/BG.png);
    transform: none;
  }
}

/*
 * Animation module with all animation code
 */
.anim-text-flow,
.anim-text-flow-hover:hover {
  /*
    * Animation variables
    */
  $animationSteps: 20;
  $animationDuration: 50;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.2;

  /*
    * Elements settings
    */
  #{$animationElement} {
    animation-name: anim-text-flow-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  /*
    * Keyframe loop
    */
  @keyframes anim-text-flow-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(random(365), 60, 60, 1);
      }
    }
  }

  /*
    * Element animation delay loop
    */
  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}

.mr-container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.txt {
  display: block;
  text-transform: uppercase;
}

.globalIn{
  z-index: 3;
}
.globalOut{
  z-index: 3;
}

.PriviteIn{
  z-index: 3;
}
.PriviteOut{
  z-index: 3;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #7f42ec; /* Thumb color */
}

::-webkit-scrollbar-thumb:hover {
  background: #7f42ec; /* Thumb color on hover */
}
/* Hide the default checkbox */
.containerHamburger input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.containerHamburger {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  background-color: #aa73db;
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

.checkmark {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark span {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.containerHamburger input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.containerHamburger input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.containerHamburger input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}
.buttonBell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aa73db;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  border: none;
}

.bell {
  width: 15px;
  fill: white !important;
}

.bell path {
  fill: white;
}

.buttonBell:hover {
  background-color: #8f60b9 !important;
}

.buttonBell:hover .bell {
  animation: bellRing 0.9s both;
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}
.buttonBell:active {
  background-color: #7f42ec;
}
