.comment {
}

@media screen and (max-width: 576px) {
  .comment {
    margin-top: 15px;
    .title-comment {
      width: 100%;
      position: relative;
      &::before {
        content: "";
        background-image: url(../../../../assets/imagesLayout/popuptext.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 95%;
        height: 100%;
        z-index: 0;
      }
      h3 {
        margin-left: 10px;
        color: #00ffe9;
        // font-family: "NextBold";
        margin-bottom: 0px;
        box-shadow: rgba(0, 255, 233, 1) 0px 50px 100px -20px,
          rgba(0, 255, 233, 1) 0px 30px 60px -30px;
        filter: drop-shadow(-1px 1px 0 #f027ff) drop-shadow(0px 0px 0 #f027ff)
          drop-shadow(0px 0px 0 #f027ff) drop-shadow(0 0px 0 #f027ff);
      }
    }
  }
}
