.css-jmgi9p::after {
  content: " ";
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #271c39 !important;
}
.css-tgsonj {
  border-top: 1px solid #271c39 !important;
}
