.snackbar {
  visibility: hidden;
}
.showToast {
  visibility: visible;
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    top: -60px;
    opacity: 0;
  }
  to {
    top: 60px;
    opacity: 1;
  }
}
.closeToast {
  animation: fadeout 1s;
}
@keyframes fadeout {
  from {
    visibility: visible;
    top: 60px;
    opacity: 1;
  }
  to {
    top: -60px;
    opacity: 0;
    visibility: visible;
  }
}
