.content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  .box-body {
    overflow: hidden;
    &:hover {
      overflow-y: scroll;
    }
    .one {
      margin-bottom: 20px;
      background-color: rgb(25, 19, 62);
      border-radius: 10px;
      align-items: center;
      .crypto {
        width: 100%;
        text-align: center;
        background-color: #20165c;
        border-radius: 10px;
        p {
          margin-top: 1rem;
          color: white;
        }
      }
      .Fiat {
        width: 100%;
        text-align: center;
        p {
          margin-top: 1rem;
          color: white;
        }
      }
      .NFT {
        width: 100%;
        text-align: center;
        p {
          margin-top: 1rem;
          color: white;
        }
      }
    }
    .two {
      .item1 {
        background-color: #19133e;
        border-radius: 10px;
        padding: 5px 12px;
        align-items: center;
        p {
          margin: 0px;
          font-weight: 700;
          color: white;
        }
      }
    }
    .three {
      margin-top: 20px;
      margin-bottom: 20px;
      .three-title {
        .title-left {
          h5 {
            font-weight: 500;
            color: white;
          }
        }
        .title-right {
          h5 {
            font-weight: 500;
            color: white;
          }
        }
      }
      .three-item {
        background-color: #19133e;
        border-radius: 5px;
        .three-drop {
          padding: 5px;
          select {
            background-color: white;
            width: 100px;
            height: 100%;
            border-radius: 10px;
            padding: 0px 5px;
          }
        }
        .three-number {
          padding: 5px;
          h6 {
            margin: 0px;
            text-align: end;
            opacity: 0.8;
            color: white;
          }
          p {
            margin: 0px;
            font-weight: 700;
            color: white;
          }
        }
      }
    }
    .four {
      .four-title {
        .title-left {
          h5 {
            font-weight: 500;
            color: white;
          }
        }
        .title-right {
          h5 {
            font-weight: 500;
            color: white;
          }
        }
      }
      .four-item {
        .item {
          width: 100%;
          background-color: #19133e;
          display: flex;
          justify-content: center;
          padding: 5px 10px;
          border-radius: 10px;
          margin: 5px;
          .text {
            margin-left: 2px;
            p {
              margin: 0;
              font-weight: 500;
              color: white;
            }
          }
        }
      }
    }
    .five {
      .five-title {
        h5 {
          font-weight: 500;
          color: white;
        }
      }
      .five-item {
        display: flex;
        .item {
          background-color: #19133e;
          padding: 10px 35px;
          margin-left: 5px;
          border-radius: 10px;
          p {
            margin: 0;
            color: white;
          }
        }
      }
    }
    .six {
      margin-top: 20px;
      background-color: #19133e;
      padding: 10px;
      border-radius: 10px;
      .six-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item-left {
          width: 40%;
          .text {
            color: white;
            opacity: 0.8;
            p {
              word-wrap: break-word;
            }
          }
          button {
            border: none;
            padding: 8px 20px;
            border-radius: 10px;
            color: gray;
          }
        }
        .item-right {
          img {
            border-radius: 10px;
          }
        }
      }
    }
    .seven {
      margin-top: 20px;
      margin-bottom: 20px;
      input {
        width: 100%;
        padding: 10px 35px;
        border-radius: 5px;
        border: 3px solid gray;
      }
    }
  }
  .box-bot {
    background-color: black;
    .item-bot {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        .children-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          button {
            border: none;
            background-color: unset;
            p {
              margin: 0px;
              color: white;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.btn-check-deposit {
  display: flex;
  justify-content: center;
  position: relative;
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    border-radius: 5px;
  }
  &:active {
    top: 3px;
  }
}
.addresswallet::placeholder {
  color: white;
}
